@import url("https://fonts.googleapis.com/css?family=PT+Sans");

::selection {
  background: #272838;
}

* {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  text-align: center;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #E75A7C, #141B41);
  font-family: "PT Sans", sans-serif;
}

.wrapper {
  max-width: 600px;
  background: linear-gradient(to left, #306BAC, #141B41);
  color: #fff;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0px 0px 80px 1px #212129;
  text-align: center;
}

.wrapper .image-wrapper img {
  width: 400px;
  border-radius: 50%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.wrapper .name {
  font-size: 2.2em;
}

.wrapper .description {
  color: #A1A2AD;
  text-transform: uppercase;
  margin-top: 10px;
}

.wrapper .social-media {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.wrapper .social-media .icon {
  position: relative;
  background: #ffffff;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .social-media .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .social-media .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .social-media .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .social-media .icon:hover span,
.wrapper .social-media .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .social-media .linkedin:hover,
.wrapper .social-media .linkedin:hover .tooltip,
.wrapper .social-media .linkedin:hover .tooltip::before {
  background: #1877F2;
  color: #ffffff;
}

.wrapper .social-media .instagram:hover,
.wrapper .social-media .instagram:hover .tooltip,
.wrapper .social-media .instagram:hover .tooltip::before {
  background: #E4405F;
  color: #ffffff;
}

.wrapper .social-media .youtube:hover,
.wrapper .social-media .youtube:hover .tooltip,
.wrapper .social-media .youtube:hover .tooltip::before {
  background: #CD201F;
  color: #ffffff;
}

.wrapper .mail {
  background: #fff;
  color: #212129;
  text-transform: none;
  font-size: 1.2em;
  letter-spacing: 0.1em;
  padding: 10px 45px;
  border-radius: 30px;
  transition: 300ms;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.wrapper .mail:hover {
  background: #212129;
  color: #fff;
  transition: 300ms;
}

.wrapper .mail .fa-fa-envelope-o {
  margin-right: 5px;
  margin-top: 15px;
}

.divider {
  margin: 20px 0;
  border: none;
  border-top: 1px solid #ccc;
}
