@import url("https://fonts.googleapis.com/css?family=PT+Sans");

::selection {
  background: #272838;
}

* {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  text-align: center;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #2399d7, #141B41);
  font-family: "PT Sans", sans-serif;
}

.wrapper {
  max-width: 600px;
  background: linear-gradient(to left, #306BAC, #141B41);
  color: #fff;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0px 0px 80px 1px #212129;
  text-align: center;
}

.wrapper .image-wrapper img {
  width: 400px;
  border-radius: 20%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 2px solid black;
}

.wrapper .name {
  font-size: 2.2em;
}

.wrapper .description {
  color: #A1A2AD;
  text-transform: uppercase;
  margin-top: 10px;
}

.wrapper .social-media {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.wrapper .social-media a {
  color: #fff;
  font-size: 2em;
  margin: 0 10px;
  padding: 15px;
  transition: 300ms;
}

.wrapper .social-media a:hover {
  color: #A1A2AD;
  transition: 300ms;
}

.wrapper .mail {
  background: #fff;
  color: #212129;
  text-transform: none;
  font-size: 1.2em;
  letter-spacing: 0.1em;
  padding: 10px 45px;
  border-radius: 30px;
  transition: 300ms;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.wrapper .mail:hover {
  background: #212129;
  color: #fff;
  transition: 300ms;
}

.wrapper .mail .fa-fa-envelope-o {
  margin-right: 5px;
  margin-top: 15px;
}

/* Media Query for Mobile */
@media (max-width: 600px) {
  .wrapper {
    margin: 20px;
  }

  .wrapper .name {
    font-size: 1.8em;
  }

  .wrapper .description {
    font-size: 1em;
  }

  .wrapper .social-media a {
    font-size: 1.5em;
    padding: 10px;
  }

  .wrapper .mail {
    padding: 8px 35px;
    font-size: 1em;
  }
}
